body{
    background-color: aliceblue;
}

main{
    align-self: center;
    justify-self: center;
}

.row0{
    display: grid;
    width: 1130px;
    height: 40px;

    grid-template-columns: repeat(16, 1fr);
}

.row1{
    display: grid;
    width: 1133px;
    height: 65px;

    grid-template-columns: repeat(13, 1fr) 1.5fr 1fr;
}

.container{
    display: grid;
    width: 1130px;
    height: 130px;

    grid-template-rows: repeat(2);
    grid-template-columns: 990px 70px 70px;
}

.row2{
    display: grid;
    width: 990px;
    height: 65px;

    grid-template-columns: 1.5fr repeat(12, 1fr);
    grid-column-end: 2;
}

.row3{
    display: grid;
    width: 990px;
    height: 65px;

    grid-template-columns: 1.8fr repeat(12, 1fr);
    grid-row-start: 2;
    grid-column-end: 2;
}

#Enter{
    grid-row: 1/3;
    grid-column-start: 2;
}

.row4{
    display: grid;
    width: 1135px;
    height: 65px;

    grid-template-columns: repeat(12, 1fr) 2.2fr 1fr;
}

.row5{
    display: grid;
    width: 1135px;
    height: 65px;

    grid-template-columns: repeat(4, 1fr) 5fr repeat(4, 1fr) 1.3fr 1fr;
}

.upNdown_arrow{
    display: grid;
    height: 65px;
    grid-template-rows: repeat(2, 1fr);
}

.button{
    display: flex;
    border: solid;
    margin: 7px;

    align-items: center;
    justify-content: center;
}

#ArrowUp{
    margin-bottom: 2px;
}

#ArrowDown{
    margin-top: 2px;
}

.normal{
    width: 50px;
}

#Tab{
    flex-direction: column;
}

#ShiftRight{
    justify-content: flex-start;
    padding: 10px;
}