body{
    background-color: aliceblue;
}

main{
    align-self: center;
    justify-self: center;
    justify-items: center;
}

#textDiv{
    padding: 5px;
    display: flex;
    min-height: 10px;
    min-width: 100px;
    max-width: 1300px;
    border: solid;
}

#visual{
    animation: flash 1s linear infinite;
}

@keyframes flash{
    50%{
        opacity: 0;
    }
}

button{
    height: 35px;
    margin: 10px;
}

.menuIcon{
    border: solid 1.5px;
    padding-left: 4px;
    padding-right: 4px;
}

.row{
    display: grid;
}

.R{
    animation: moveRight linear 0s infinite;
    animation-duration: 0s;
}

.L{
    animation: moveLeft linear 0s infinite;
    animation-duration: 0s;
}

@keyframes moveRight{
    50%{
        transform: translate(80px);
    }
}

@keyframes moveLeft{
    50%{
        transform: translate(-80px);
    }
}

.row0{
    width: 1130px;
    height: 40px;

    grid-template-columns: repeat(16, 1fr);
}

.row1{
    width: 1133px;
    height: 65px;

    grid-template-columns: repeat(13, 1fr) 1.5fr 1fr;
}

.container{
    display: grid;
    width: 1130px;
    height: 130px;

    grid-template-rows: repeat(2);
    grid-template-columns: 990px 70px 70px;
}

.row2{
    width: 990px;
    height: 65px;

    grid-template-columns: 1.5fr repeat(12, 1fr);
    grid-column-end: 2;
}

.row3{
    width: 990px;
    height: 65px;

    grid-template-columns: 1.8fr repeat(12, 1fr);
    grid-row-start: 2;
    grid-column-end: 2;
}

#Enter{
    grid-row: 1/3;
    grid-column-start: 2;
}

.row4{
    width: 1135px;
    height: 65px;

    grid-template-columns: repeat(12, 1fr) 2.2fr 1fr;
}

.row5{
    width: 1135px;
    height: 65px;

    grid-template-columns: repeat(4, 1fr) 5fr repeat(4, 1fr) 1.3fr 1fr;
}

.upNdown_arrow{
    display: grid;
    height: 65px;
    grid-template-rows: repeat(2, 1fr);
}

.button{
    background-color: black;
    color: white;
    display: flex;
    margin: 7px;

    align-items: center;
    justify-content: center;
}

#ArrowUp{
    margin-bottom: 2px;
}

#ArrowDown{
    margin-top: 2px;
}

.normal{
    width: 55px;
}

.border{
    height: 25px;
    width: 20px;
    border: solid;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.columnContainer{
    flex-direction: column;
}

.rowContainer{
    flex-direction: row;
}

#ShiftRight{
    justify-content: flex-start;
    padding: 10px;
}

.square{
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 0.5px;
}

.squareContainer{
    display: flex;
    flex-direction: row;
}